about-time
alive-progress
certifi
charset-normalizer
click
Flask
grapheme
idna
itsdangerous
Jinja2
MarkupSafe
pydub
python-dotenv
requests
urllib3
Werkzeug
gunicorn
pyngrok
openai
deepgram-sdk==3.0.1
Werkzeug==2.2.2