<!DOCTYPE html>
<html>
  <head>
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
    <title>Upload Audio</title>
  </head>
  <body>
    <div>
      <form
        action="/transcribe"
        method="post"
        enctype="multipart/form-data"
      >
        <h1>
          Upload your audio
        </h1>
        <div>
          <label for="vocab">
            Custom vocabulary (separated by commas)
          </label>
          <input
            type="text"
            name="vocab"
            id="vocab"
            placeholder="Custom vocabulary"
          />
        </div>
        <div>
          <label for="file">
            Audio file
          </label>
          <input
            id="file"
            type="file"
            name="file"
            accept="audio/*"
            required
          />
        </div>
        <div>
          <label for="email">
            Email
          </label>
          <input
            id="email"
            type="email"
            name="email"
            value="finmoorhouse@outlook.com"
            required
          />
        </div>

        <div>
          <input
            type="submit"
            value="Submit"
          />
        </div>
      </form>
    </div>
  </body>
</html>
